.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  border-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  font-weight: 700
}

#submit-button {
  justify-content: flex-end;
}

#submit-button {
  float: right;
}
